@import url(https://fonts.google.com/specimen/Kumbh+Sans);

@media only screen and (max-width: 768px) {
  .product-info {
    margin: 0 20px 0 20px;
    margin-top: -100px;
  }

  .product-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-price {
    margin-top: auto;
    margin-bottom: auto;
  }

  .counter {
    width: 100%;
  }
}

.product-menu {
  display: flex;
  flex-direction: column;
}

.main-title,
.text-description {
  font-size: 16px;
  font-family: "Kumbh Sans";
  margin-bottom: 10px;
}

.main-type {
  color: hsl(26, 100%, 55%);
}

.discount {
  display: flex;
  flex-direction: row;
}

.real-price {
  font-family: "Kumbh Sans";
  font-size: 16px;
  text-decoration: line-through;
}

.btn {
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  background-color: #fff;
  cursor: pointer;
  font-family: "Kumbh Sans";
  font-size: 16px;
}

.number-of-items {
  text-align: center;
  font-weight: 700;
  padding: 10px;
  margin: 0 10px;
  font-family: "Kumbh Sans";
  font-size: 16px;
}

.text-description {
  color: hsl(219, 9%, 45%);
}

.discount-percent {
  border: none;
  border-radius: 8px;
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  align-items: center;
  background-color: hsl(25, 100%, 94%);
}

.real-price {
  color: hsl(219, 9%, 45%);
  font-weight: 700;
}

.addToCart {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  background-color: hsl(26, 100%, 55%);
  /* padding: 15px 74.5px; */
  padding: 15px 60px;
}

.icon {
  margin-right: 10px;
}
