.cart {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.img-cart {
  margin: 0 10px;
  height: 40px;
}

.login-panel {
  margin: 0 10px;
}

.cartItems {
  position: absolute;
  right: 210px;
  top: 10px;
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 20px;
  align-items: center;
  padding: 5px;
  width: 30px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .cartItems {
    position: absolute;
    right: 70px;
    top: 10px;
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    width: 30px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
  }
}
