@import url(https://fonts.google.com/specimen/Kumbh+Sans);

.nav {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  font-family: "Kumbh Sans";
  font-size: 16px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  margin: 0 20px;
  padding: 20px 0;
}
